/*-------------------------------------
  Fonts
-------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

/*-------------------------------------
  Tailwind
-------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------
  General
-------------------------------------*/
* {
  @apply scroll-smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  @apply bg-white text-black;
}

/*-------------------------------------
  Scroll Bar
-------------------------------------*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  margin: 8px 0px;
}

body::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  @apply bg-orange-gray-200;
}

/*-------------------------------------
  Utils
-------------------------------------*/
.no-outline-on-click:focus:not(:focus-visible) {
  @apply outline-none;
  @apply ring-0;
}
